aiofiles
aiohttp>=2.2.5
alphabet_detector
apscheduler
asyncio
beautifulsoup4
bing_image_downloader
bleach
cachetools
dnspython==2.0.0
emoji
envparse
fake-useragent
feedparser
fontTools
future
geopy
git+https://github.com/starry69/python-markdown2.git
google-api-python-client
googletrans==3.1.0a0
gtts
hachoir
html_telegraph_poster
html2text
instantmusic
jikanpy
loguru
lxml
motor
nltk
Pillow>=4.2.0
psutil
psutil
psycopg2-binary==2.8.6
pybase64
PyLyrics
pymongo==3.11.0
pynewtonmath
pyrate-limiter
pyrogram>=1.0.7
pySmartDL
pythonping
python-telegram-bot==12.8
pytube
pytz
PyYAML>=5.3.1
redis
regex
requests
spamwatch
speedtest-cli
spongemock
sqlalchemy==1.3.20
telethon==1.16.4
tgCrypto>=1.2.2
tswift
validators
wget
wikipedia
youtube_dl
youtube_search
youtube-search-python
yt_dlp
zalgo-text
